@font-face {
  font-family: "NT Wagner(only personal use)";
  src: url("/font/NT Wagner.otf") format("opentype");
}

@font-face {
  font-family: "Monologue DEMO";
  src: url("/font/Monologue DEMO.ttf") format("truetype");
}

@font-face {
  font-family: "NordinSlab";
  src: url("/font/NordineSlab.otf") format("opentype");
}
html,
*,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Monologue DEMO";
  color: white;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: white;
}
