.row {
  margin-top: 100px;
}

.material-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
}

.card
  .card-action
  a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: white;
  margin-right: 24px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
